<a href="https://colab.research.google.com/github/Lithikhaa/Twitter_dataset/blob/main/Twitter_dataset_encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('imdb_reviews.csv', error_bad_lines=False, engine ='python')

<ipython-input-5-1b7b93b99000>:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df=pd.read_csv('imdb_reviews.csv', error_bad_lines=False, engine ='python')
Skipping line 1737: unexpected end of data

In [ ]:
df.head(10)

   id                                               text sentiment
0   1  Once again Mr. Costner has dragged out a movie...       neg
1   2  This is an example of why the majority of acti...       neg
2   3  First of all I hate those moronic rappers, who...       neg
3   4  Not even the Beatles could write songs everyon...       neg
4   5  Brass pictures movies is not a fitting word fo...       neg
5   6  A funny thing happened to me while watching "M...       neg
6   7  This German horror film has to be one of the w...       neg
7   8  Being a long-time fan of Japanese film, I expe...       neg
8   9  "Tokyo Eyes" tells of a 17 year old Japanese g...       neg
9  10  Wealthy horse ranchers in Buenos Aires have a ...       neg

In [ ]:
df['lnum']=df.sentiment.map({'pos':1,'neg':0})
df

        id                                               text sentiment  lnum
0        1  Once again Mr. Costner has dragged out a movie...       neg     0
1        2  This is an example of why the majority of acti...       neg     0
2        3  First of all I hate those moronic rappers, who...       neg     0
3        4  Not even the Beatles could write songs everyon...       neg     0
4        5  Brass pictures movies is not a fitting word fo...       neg     0
...    ...                                                ...       ...   ...
1730  1731  This movie is really bad. Most of it looks lik...       neg     0
1731  1732  I am not familiar with the producers other wor...       neg     0
1732  1733  All right, theres no way to sugarcoat this. Th...       neg     0
1733  1734  In fact it was awful. The main chick in it who...       neg     0
1734  1735  What a despairing film. Dress actors in furry ...       neg     0

[1735 rows x 4 columns]

In [ ]:
x = df['text']
y = df['lnum']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

In [ ]:
xtrain_dtm = cv.fit_transform(xtrain)
xtest_dtm=cv.transform(xtest)
print(cv.get_feature_names_out())
df=pd.DataFrame(xtrain_dtm.toarray(),columns=cv.get_feature_names_out())

['00' '000' '01' ... 'zulu' 'zzzzzzzzzzzzz' 'ã¼berwoman']

In [ ]:
df

,00,000,01,02,05,06,07,10,100,1000,...,zoolander,zoologist,zoom,zooms,zoos,zucker,zugurt,zulu,zzzzzzzzzzzzz,ã¼berwoman
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1297,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1298,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1299,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1300,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from sklearn import metrics

In [ ]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB().fit(xtrain_dtm,ytrain)
predicted = clf.predict(xtest_dtm)

In [ ]:
metrics.confusion_matrix(ytest,predicted)

array([[434]])

In [ ]:
metrics.accuracy_score(ytest,predicted)

1.0

In [ ]:
print("Precision :",metrics.precision_score(ytest, predicted,average='micro'))
print("Recall : ",metrics.recall_score(ytest, predicted,average='micro'))